.thumbnail_viewer {
  z-index: 10;
  overflow: auto;
}


.thumbnail_viewer .pdfrenderer_container {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.thumbnail_viewer.pagesize_default .pdfrenderer_container {
  left: 0;
}

.thumbnail_viewer.pagesize_small .pdfrenderer_container {
  width: 220px;
}

.thumbnail_viewer.pagesize_hidden .pdfrenderer_container {
  left: -100%;

}

.thumbnail_viewer.pagesize_minimized .pdfrenderer_container {
  width: 50px;
}

.thumbnail_viewer.pagesize_minimized .pdfrenderer_container .thumbnail_decorator {
  margin-bottom: -20px;
}

.thumbnail_viewer.pagesize_minimized .pdfrenderer_container .thumbnail_decorator .pagenumber {
  font-size: 12px !important;
  margin-left: 10px !important;
}

.thumbnail_viewer .pdfrenderer_container {
  width: 350px;
}

.thumbnail_viewer .pdfrenderer_container .pdfViewer {
  background-color: var(--navds-semantic-color-canvas-background);
}


.thumbnail_page_container {
  top: -25px;
  z-index: 1000;
}

.thumbnail_page_container .pagenumber {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: -2px;
}

.thumbnail_page_container.infocus .page {
  opacity: 100%;

}

.thumbnail_page_container .page {
  cursor: pointer;
  opacity: 60%;

}